<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper_all">
    <div class="container">
        <div class="content">
            <div class="exCat">
                <table class="exList">
                    <tbody>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    <tr class="docList">
                        <td class="title"><a class="postA" href=""></a></td>
                        <td class="name"></td>
                        <td class="regdate"></td>
                        <td class="count"></td>
                        <td class="like"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="exPage">
                <div class="f1"><a href="" class="button"></a></div>
                <div class="f1"><a href="" class="button"></a></div>
            </div>
            <div class="exPagNav">
                <a href="" class="prevEnd">첫 페이지</a>
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <a href="">7</a>
                <a href="" class="nextEnd">다음 페이지</a>
            </div>
            <div class="exBtom">
                <form action="">
                    <select name="search_target" class="exISt">
                        <option value="title_content">제목+내용</option>
                        <option value="title">제목</option>
                        <option value="content">제목</option>
                    </select>
                    <input type="text" name="search_keyword" class="exISt">
                    <span class="button">
                            <input type="submit" value="검색" accesskey="s">
                        </span>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>